de homepage
<p>
  <%= link_to 'Inkomen', incomes_path, class: "btn btn-primary" %>
</p>
<p>
  <%= link_to 'Nieuw inkomen', new_income_path, class: "btn btn-success" %>
</p>
<p>
  <%= link_to 'Uitgaven', expenses_path, class: "btn btn-primary" %>
</p>
<p>
  <%= link_to 'Nieuwe uitgave', new_expense_path, class: "btn btn-success" %>
</p>
